*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #111A28;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
header{
    margin: 22px 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: #D1D3D6;
    font-size: 18px;
}
header button{
    background-color: transparent;
    border: none;
    border: 2px solid #00CF5D;
    padding: 10px 15px;
    border-radius: 5px;
    color: #D1D3D6;
    margin-left: 20px;
    font-size: 18px;
}






.banner-details{
    height: 70vh;
    margin-left: 100px;
    margin-top: 200px;
}
.banner-details p{
    font-size: 22px;
    font-weight: 400;
    color: #00CF5D;
}
.banner-details h1{
    font-size: 78px;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
}
.banner-details h3{
    font-size: 25px;
    font-weight: 700;
    color: #00CF5D;
}
.banner-details ul{
    display: flex;
    gap: 20px;
}
.banner-details ul li{
    list-style: none;
}
.banner-details ul li {
    font-size: 18px;
    color: white;
    margin-bottom: 50px;
}
.banner-details ul li:nth-child(n+2):before{
    color: #00CF5D;
    content: "• ";
}
.banner-details a{
    text-decoration: none;
    color: white;
    
    font-size: 18px;
}
.banner-details .b-o-b{
    background-color: #00CF5D;
    border-radius: 5px;
    padding: 20px 25px;
    margin-right: 20px;
}
.banner-details .b-t-b{
    background-color: transparent;
    border: 2px solid #00CF5D;
    padding: 18px 23px;
    border-radius: 5px;
}

.about-details{
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}
.about-details .about-text{
    width: 50%;
}
.about-details .about-text p{
    font-size: 18px;
    line-height: 45px;
    color: #D1D3D6;
    margin-bottom: 35px;
}
.about-details .about-text a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}
.about-details .about-text .b-o-b{
    background-color: #00CF5D;
    border-radius: 5px;
    padding: 20px 25px;
    margin-right: 20px;
}
.about-details .about-text .b-t-b{
    background-color: transparent;
    border: 2px solid #00CF5D;
    padding: 18px 23px;
    border-radius: 5px;
}
.about-details .img{
    margin-left: 160px;
    
}
.about-details .img img{
    border-radius: 5px;
}




.skills-details{
    margin-left: 50px;
}
.skills{
    margin-bottom: 215px;
}
.skills ul{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.skills ul li{
    list-style: none;
}
.skills ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: transparent;
    padding: 5px 20px;
    border: 2px solid #00CF5D;
    border-radius: 5px;
    font-weight: 400;
}
.skills ul li:nth-child(1) a{
    background-color: #00CF5D;
}

.skills .skill-item{
    display: grid;
    grid-template-columns: 515px 515px;
    gap: 25px;
}
.skills .s-items{
    background-color: #1D293A;
    padding: 20px 15px 0 0;
    border-radius: 5px;
}
.skills .s-items .skill-flex{
    display: flex;
    justify-content: space-between;
}
progress{
    height: 20px;
    margin-bottom: -5px;
    
}
.p-1, .p-2{
    width: 450px;
}
.p-3, .p-6{
    width: 400px;
}
.p-5{
    width: 350px;
}
.p-7{
    width: 450px;
}
.p-4{
    width: 450px;
}
.p-8{
    width: 300px;
}
progress[value]::-webkit-progress-bar{
    background-color: #00CF5D;
}


.skills h4{
    font-size: 22px;
    font-weight: 900;
    color: white;
    margin-left: 25px;
}
.skills p{
    font-size: 18px;
    font-weight: 900;
    color: white;
    background-color: #00CF5D;
    padding: 5px;
    border-radius: 5px;
}


.love {
    margin-bottom: 200px;
}
.love .love-item{
    display: flex;
    gap: 30px;
}
.love .love-items{
    height: 200px;
    width: 240px;
    background-color: #1D293A;
    padding: 40px 0 50px 20px;
    border-radius: 5px;
}
.love-items h4{
    font-size: 22px;
    font-weight: 900;
    color: white;
    padding-top: 25px;
}
.love img {
    width: 65px;
    
}


.portfolio-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
portfolio-item{
    padding: 25px;
    background-color: #1D293A;
    border-radius: 5px;
}
portfolio-item img{
    width: 100%;
}
portfolio-item a{
    display: block;
    text-decoration: none;
    font-size: 26px;
    font-weight: 900;
    color: #DDDFE2;
    margin: 20px 0;
}
portfolio-item p{
    font-size: 18px;
    line-height: 26px;
    color: #DDDFE2;

}
portfolio-item ul{
    display: flex;
    gap: 20px;
}
portfolio-item ul li{
    list-style: none;
    color: #989ca1;
    font-size: 18px;
    font-weight: 600;
}
portfolio-item ul li a:hover{
    color: #00CF5D;
}
.portfolio-details ul{
    display: flex;
    gap: 40px;
    margin-bottom: 25px;
}
.portfolio-details ul li {
    list-style: none;
}
.portfolio-details ul li a{
    text-decoration: none;
}
.portfolio-details .p-one{
    background-color: #00CF5D;
    font-size: 20px;
    font-weight: bold;
    color: #D1D3D6;
    padding: 8px 25px;
    border-radius: 5px;
}
.portfolio-details .p-two{
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    color: #D1D3D6;
    padding: 6px 23px;
    border-radius: 5px;
    border: 2px solid #00CF5D;
}